<div class="card">
    <div class="card-header ">
        <h3>เกี่ยวกับ</h3>
    </div>
    <div class="card-body">
        <span>ตาม พ.ร.บ. การรักษาความมั่นคงปลอดภัยไซเบอร์ พ.ศ. 2562 ได้กำหนดให้หน่วยงานควบคุมหรือกำกับดูแล (Regulator)
            รับแจ้งเหตุภัยคุกคามทางไซเบอร์ และร่วมกับ Sectoral CERT รวบรวมข้อมูล ตรวจสอบ
            ช่วยเหลือหน่วยงานโครงสร้างพื้นฐานสำคัญทางสารสนเทศ (CII)
            ดังนั้นเพื่อเป็นการขับเคลื่อนการดำเนินงานการรักษาความมั่นคงปลอดภัยไซเบอร์ด้านสาธารณสุข
            สำนักงานปลัดกระทรวงสาธารณสุขจึงจัดให้มีศูนย์ประสานการรักษาความมั่นคงปลอดภัยไซเบอร์ด้านสาธารณสุข (Health
            CIRT) เพื่อทำหน้าหน้าที่ประสานงาน เฝ้าระวัง รับมือ และแก้ไขภัยคุกคามทางไซเบอร์ด้านสาธารณสุข

        </span>
    </div>
</div>
<div class="card">
    <div class="card-header ">
        <h3>ติดต่อ</h3>
    </div>
    <div class="card-body">
        <p>  ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร สํานักงานปลัดกระทรวงสาธารณสุข</p>
        <span> อาคาร ๒ ชั้น ๑ เลขที่ ๘๘/๒๐ หมู่ ๔ ถนนติวานนท์ ตําบลตลาดขวัญ อําเภอเมือง จังหวัดนนทบุรี ๑๑๐๐๐</span><br>
        <span> อีเมล health-cirt@moph.go.th Line Official : @health-cirt</span><br>
        <span> โทรศัพท์ ๐๘๓-๐๖๔-๙๘๖๗</span>
    </div>
</div>